name: PRs and Branches

on: [push, pull_request]

jobs:
  tests:
    runs-on: ubuntu-latest
    name: Tests
    strategy:
      fail-fast: true
      matrix:
        cfengine: ["lucee@6", "adobe@2021"]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5
        with:
          path: stripecfml # checkout as stripecfml because that is how the module installs

      - name: Setup Java JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: 21

      - name: Setup CommandBox
        uses: Ortus-Solutions/setup-commandbox@v2.0.1
      
      - name: Install dependencies
        run: cd stripecfml && box install
      
      - name: Start server
        run: cd stripecfml && box server start cfengine=${{ matrix.cfengine }} --noSaveSettings

      - name: Run TestBox Tests
        run: cd stripecfml && box testbox run

  format:
    runs-on: ubuntu-latest
    name: Format
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Setup Java JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: 21

      - name: Setup CommandBox
        uses: Ortus-Solutions/setup-commandbox@v2.0.1
      
      - name: Install CFFormat
        run: box install commandbox-cfformat
      
      - name: Run CFFormat
        run: box run-script format

      - name: Commit Format Changes
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: Apply cfformat changes
